*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:10px;
}

.card{
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border: solid 1px #333;
    box-shadow: 0 0 5px #000;
    border-radius: 5px;
    & img{
        width: 100%;
    }
}